html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}